<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="technical_background_box">Technical background</label>
    <input id="technical_background_box" name="query_technical_background" type="checkbox">
  </div>
         
  <div>
    <label for="cs_dual_degree_box">Cs dual degree</label>
    <input id="cs_dual_degree_box" name="query_cs_dual_degree" type="checkbox">
  </div>
         
  <div>
    <label for="applications_count_box">Applications count</label>
      
    <input type="text" id="applications_count_box" name="query_applications_count">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
